<div>
  <nui-row id="displayer">
    <nui-row id="vinyl">
      <app-vinyl [cover]=" currentSong!=null ? 'url('+currentSong.cover+')': 'white'" ></app-vinyl>
      <nui-row class="content">
        <div id="musicTitle">
          <p id="author">{{currentSong.author}}</p>
          <p id="title">{{currentSong.title}}</p>
        </div>
        <nui-row id="progressTrack">
          <nui-slider [withTimeInfo]="true" [end]="'2:20'"></nui-slider>
        </nui-row>
      </nui-row>
      <nui-menu [verticalCenter]="true">
        <nui-icon-button size="md" (clic)="previous()">
          <fa-icon [icon]="faBackward"></fa-icon>
        </nui-icon-button>
        <nui-icon-button size="lg" [pushPull]="true" (clic)="play()" [active]="activeBtn1">
          <fa-icon [icon]="faPlay"></fa-icon>
        </nui-icon-button>
        <nui-icon-button size="lg" [pushPull]="true" (clic)="pause()" [active]="activeBtn2">
          <fa-icon [icon]="faPause"></fa-icon>
        </nui-icon-button>
        <nui-icon-button size="md" (clic)="next()">
          <fa-icon [icon]="faForward"></fa-icon>
        </nui-icon-button>
      </nui-menu>
    </nui-row>
  </nui-row>
  <nui-list>
    <nui-list-item *ngFor="let song of songs" (click)="setAudio(song)">
      <nui-card [color]="'raisin'" [title]="song.title" [description]="song.author"></nui-card>
    </nui-list-item>
  </nui-list>
</div>
