  <nui-row id="displayer">
    <nui-row id="vinyl">
      <app-vinyl [cover]="currentSong ? 'url('+currentSong?.cover+')': 'white'" ></app-vinyl>
      <div>
        <nui-row class="content">
          <div id="musicTitle">
            <p id="author">{{currentSong?.author}}</p>
            <p id="title">{{currentSong?.title}}</p>
          </div>
          <nui-row id="progressTrack">
            <nui-slider [withTimeInfo]="true" [actual]="timeElapsed" [end]="timeRemaining" [value]="percentRemaining" (changeValue)="changeValue($event)"></nui-slider>
          </nui-row>
        </nui-row>
      </div>
      <nui-menu [verticalCenter]="true">
        <nui-icon-button size="md" (clic)="previous()">
          <fa-icon [icon]="faBackward"></fa-icon>
        </nui-icon-button>
        <nui-icon-button size="lg" [active]="playing" (clic)="playing ? pause() : play()">
          <fa-icon [icon]="faPlay" *ngIf="!playing"></fa-icon>
          <fa-icon [icon]="faPause" *ngIf="playing"></fa-icon>
        </nui-icon-button>
        <nui-icon-button size="md" (clic)="next()">
          <fa-icon [icon]="faForward"></fa-icon>
        </nui-icon-button>
      </nui-menu>
    </nui-row>
  </nui-row>