:host{

    overflow: hidden;
    #displayer{
        padding-top: 2rem;
        div{
            width: 100%;
            .content{
                padding-inline: 1rem;
                margin-top: 1rem;
                #musicTitle{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    line-height: 0;
                    #author{
                        font-weight: bold;
                        font-size: 1rem;
                        line-height: 1rem;
                    }
                    #title{
                        font-weight: bold;
                        font-size: 2rem;
                    }
                }
                #progressTrack{
                    margin: 0.3rem 0rem 0rem;
                }
            }
        }
        nui-menu{
            display: flex;
            justify-content: center;
            nui-row{
                align-items: center;
            }
        }
  }
}
