@import "node_modules/neumorphy-ui/assets/scss/variables";
@import "node_modules/neumorphy-ui/assets/scss/styles";

.input-nui {
  width: 20.4rem;
  height: 3.8rem;
  border: none;
  border-radius: 1rem;
  box-shadow: inset .2rem .2rem .5rem #1d1a1a,
  inset -.2rem -.2rem .5rem #302c2b;
  background: none;
  font-family: inherit;
  color: #ECEBE4;
  padding: 0.5rem 0.8rem;
  font-size: 1.2rem;

  &:focus {
    outline: none;
    background: $bg-color;
    box-shadow: -5px -5px 10px #23201f,
    5px 5px 10px #292625;
  }
}

::placeholder {
  color: #ffffff26;
  opacity: 1;
}

.button {
  position: absolute;
  right: 1em;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3em;
}
