<app-back></app-back>
<app-loader [loader]="loader"></app-loader>
<nui-row id="displayer">
  <nui-row class="d-flex justify-content-center">
    <h1 class="title">Playlists</h1>
  </nui-row>
  <nui-row class="d-flex justify-content-center">
    <app-playlist-create (callback)="reloadData()"></app-playlist-create>
  </nui-row>
  <nui-row class="d-flex justify-content-center">
    <nui-list>
      <nui-list-item>
        <app-playlist-item *ngFor="let playlist of playlists" [playlist]="playlist"></app-playlist-item>
      </nui-list-item>
    </nui-list>
  </nui-row>
</nui-row>
