@import "node_modules/neumorphy-ui/assets/scss/variables";
@import "node_modules/neumorphy-ui/assets/scss/styles";

:host {
  width: 100%;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0 0 3em 0;
}

.modal-displayed {
  overflow: hidden;
  filter: blur(3px) brightness(80%);
}

.menu{
  position: fixed;
  bottom: 0;
  background: $bg-color;
  width: -webkit-fill-available;
  display: flex;
  justify-content: center;
  padding: 0.4rem 0;
}
