<app-back></app-back>
<app-loader [loader]="loader"></app-loader>
<nui-row style="padding-top: 2rem;">
  <nui-row class="d-flex justify-content-center text-center">
    <h1 class="title">{{playlistName}}</h1>
  </nui-row>
  <nui-row class="d-flex justify-content-center text-center">
    <a [routerLink]="['/songs', playlistId]">
      <nui-icon-button>
        <fa-icon [icon]="faPlus"></fa-icon>
      </nui-icon-button>
    </a>
  </nui-row>
  <nui-row class="d-flex justify-content-center text-center">
    <nui-list>
      <nui-list-item *ngFor="let song of songs">
        <nui-card display="item" [title]="song.title" [subtitle]="song.author" color="raisin" borderRadius="10"
                  elevation="md"
                  padding="sm" width="20em" align="center" justify="left" sense="row"
                  [itemImage]="song.cover">
        </nui-card>
      </nui-list-item>
    </nui-list>
  </nui-row>
</nui-row>
