/* You can add global styles to this file, and also import other style files */
@import "node_modules/neumorphy-ui/assets/scss/variables";
@import "node_modules/neumorphy-ui/assets/scss/styles";

html, body {
  margin: 0 !important;
  padding: 0 !important;
}

body{
  background: radial-gradient(circle at center top, #3c3837 0%, #2e2b2a 50%, #211f1e 85%);
}
