<main style="display: flex;flex-direction:column;justify-content: center;align-items: center">

  <h1 style="font-family: 'Cocogoose Pro',sans-serif;color: white">EDISOUND</h1>

  <nui-card [title]="title" [subtitle]="subtitle" [description]="description" [button1]="button1"
            [button2]="button1" [items]="items" color="raisin" borderRadius="10" elevation="lg" padding="lg"
            width="15em" textAlign="start"></nui-card>

  <nui-card [title]="title" [subtitle]="subtitle" [description]="description" [button1]="button1"
            [button2]="button1" color="raisin" borderRadius="10" elevation="sm" align="center" justify="center"
            width="20em" padding="md" [headerImage]="img" imgHeight="14em"></nui-card>

  <nui-card display="item" [title]="title" [subtitle]="subtitle" color="raisin" borderRadius="10" elevation="md"
            padding="sm" width="20em" [buttonItem]="buttonItem1" align="center" justify="left" sense="row"
            [itemImage]="img"></nui-card>

  <nui-card [title]="title" [subtitle]="subtitle" [description]="description" color="raisin" borderRadius="10"
            elevation="md"
            padding="md" sense="row"
            width="20em" align="center"
            [headerImage]="img" imgHeight="8em"></nui-card>

  <nui-card display="image"
            [imgSrc]="img" width="10em"></nui-card>

</main>
